# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.venv/
env/
ENV/

# -----------------------------
# Model files (do not upload)
# -----------------------------
*.h5
*.hdf5
*.keras

# -----------------------------
# Dataset folders
# -----------------------------
Ecg_Dataset/

# -----------------------------
# Large data / signal files
# -----------------------------
*.txt
*.csv

# -----------------------------
# Images (optional if dataset)
# -----------------------------
*.png
*.jpg
*.jpeg

# -----------------------------
# Logs and temp files
# -----------------------------
*.log
*.tmp
*.temp

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code settings
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
node_modules
data